.box-block__container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -30%;
    margin-right: -30%;
    margin-top: -50px;
}

@media screen and (max-width: 980px) {
    .box-block__container {
        margin-left: -10%;
        margin-right: -10%;
    }
}

@media screen and (max-width: 668px) {
    .box-block__container {
        display: block;
        margin-left: -2%;
        margin-right: -11%;
    }

    .box-block__container a.box-block.blog-item {
        width: 46%;
        display: inline-block;
    }
}

@media screen and (max-width: 527px) {
    .box-block__container a.box-block.blog-item {
        width: 100%;
    }

    .box-block__container {
        margin-left: -10%;
        margin-right: -10%;
    }
}

.box-block__container .box-block .image__container {
    border-radius: 8px;
}

.box-block__container .box-block .image__container img.big-image {
    all: initial;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 1s 0s ease;
}

.row.blog-content img {
    border-radius: 0px;
}

iframe {
    width: 100%;
}

.more-like-this-title {
    color: #161A2B !important;
    margin: 24px 0 12px 0;
    font-weight: 700 !important;
    font-size: 1.25em;
    display: block;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "AvenirNext", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    text-rendering: optimizeLegibility;
    line-height: 1.6em;
    font-size: 14px;
    color: #444;
    font-weight: 400;
    height: 100%;
    width: 100%;
    letter-spacing: 0.01em;
    text-align: left;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

@media print {

    html,
    body {
        overflow: scroll;
        height: auto;
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        width: 0 !important;
    }
}

::selection {
    color: #fff;
    background: #007c56;
}

#page__container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: filter 0.4s 0s ease;
    -khtml-transition: filter 0.4s 0s ease;
    -moz-transition: filter 0.4s 0s ease;
    -ms-transition: filter 0.4s 0s ease;
    -o-transition: filter 0.4s 0s ease;
    transition: filter 0.4s 0s ease;
}

@media print {
    #page__container {
        position: static;
        overflow: visible;
        height: auto;
    }

    #page__container::-webkit-scrollbar {
        width: 0 !important;
    }
}

#page__container #page__content {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 1s 0s ease;
    -khtml-transition: all 1s 0s ease;
    -moz-transition: all 1s 0s ease;
    -ms-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
    width: 100%;
    -webkit-transform: scale(1) translate(0, 0);
    -khtml-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    -o-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    filter: blur(0px);
}

@media print {
    #page__container #page__content {
        overflow: auto;
        position: static;
    }

    #page__container #page__content::-webkit-scrollbar {
        width: 0 !important;
    }
}

#page__container #page__content.blur {
    filter: blur(6px);
    -webkit-transform: scale(0.9);
    -khtml-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 2s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -khtml-transition: all 2s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 2s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 2s 0s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 2s 0s cubic-bezier(0.19, 1, 0.22, 1);
}

#page__container #page__content.menu-open {
    filter: blur(2px);
    -webkit-transform: scale(1.1) translate(0, 120px);
    -khtml-transform: scale(1.1) translate(0, 120px);
    -moz-transform: scale(1.1) translate(0, 120px);
    -ms-transform: scale(1.1) translate(0, 120px);
    -o-transform: scale(1.1) translate(0, 120px);
    transform: scale(1.1) translate(0, 120px);
    -webkit-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -khtml-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
}

.page {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: absolute;
    filter: blur(0px);
    -webkit-transition: all 0.8s 0s ease;
    -khtml-transition: all 0.8s 0s ease;
    -moz-transition: all 0.8s 0s ease;
    -ms-transition: all 0.8s 0s ease;
    -o-transition: all 0.8s 0s ease;
    transition: all 0.8s 0s ease;
    opacity: 1;
}

.page.hide {
    opacity: 0;
    filter: blur(20px);
}

@media print {
    .page {
        overflow: scroll;
        position: static;
    }

    .page::-webkit-scrollbar {
        width: 0 !important;
    }
}

.page-content {
    position: relative;
    z-index: 4;
    padding-bottom: 40px;
}

@media only print {
    .page-content {
        padding-top: 40px;
    }

    .page-content::-webkit-scrollbar {
        width: 0 !important;
    }
}

.page-content .page-content__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 40px 40px 0 0;
    background: #F1F1F1;
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0px 0px 52px -6px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

@media only print {
    .page-content .page-content__bg {
        display: none;
    }
}

.row {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 24px;
    position: relative;
}

.row.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row.flex .half {
    flex: 0 1 calc(50% - 12px);
    display: block;
}

.row.row-small {
    max-width: 720px;
    font-size: 15px;
    line-height: 1.61em;
}

a {
    color: #007C56;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

h1,
h2,
h3,
h4 {
    color: #161A2B;
    line-height: 1.4em;
    margin: 0 0 1em;
}

h4 {
    font-size: 1.3em;
}

.bold {
    font-weight: 600;
}

.button {
    padding: 12px 24px;
    border: solid 2px #007C56;
    color: #fff;
    font-size: 1em;
    line-height: 12px;
    border-radius: 36px;
    background: #007C56;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
}

.button.orange {
    background: #FF5800;
    border-color: #FF5800;
}

.button2 {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    position: relative;
    font-weight: 600;
    padding: 8px 12px;
    margin: 0 6px 0 0;
}

.button2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #007C56;
    z-index: -1;
    border-radius: 12px;
}

.button2.orange {
    color: #fff;
}

.button2.orange:before {
    background: #FF5800;
}

.breadcrumb {
    padding: 0;
    margin: 0;
}

@media print {
    .breadcrumb {
        display: none;
    }
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb a {
    color: #161A2B;
    display: inline-block;
}

.breadcrumb a:hover {
    color: #007C56;
}

.breadcrumb a:last-child:after {
    content: "";
}

.breadcrumb a:after {
    content: " »";
}

.payment-icons {
    clear: both;
    padding: 0px 0px;
    margin: 24px 12px 24px;
}

.payment-icons ul.payments-logo {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-wrap: nowrap;
}

.payment-icons ul.payments-logo li {
    flex: 1 1;
    margin: 0px 0px;
    height: 0%;
    padding-top: 12%;
    position: relative;
}

.payment-icons ul.payments-logo li.ideal img {
    width: calc(100% - 18px);
    left: 9px;
    right: 9px;
}

.payment-icons ul.payments-logo li img {
    position: absolute;
    top: 0;
    left: 3px;
    right: 3px;
    bottom: 3px;
    height: 100%;
    width: calc(100% - 6px);
    display: block;
    object-fit: contain;
    object-position: center center;
    filter: grayscale(0.1);
    opacity: 1;
    border: none;
}

.payment-icons ul.check-marks {
    display: none;
}

#fixed-bottom-buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    -webkit-transition: all 0.4s 0s ease;
    -khtml-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -ms-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
}

@media print {
    #fixed-bottom-buttons {
        display: none;
    }
}

#fixed-bottom-buttons.hide2 {
    bottom: -48px;
}

#fixed-bottom-buttons.hide {
    bottom: -48px;
}

#fixed-bottom-buttons span.bottom-button {
    flex: 0 1;
    padding: 0 40px;
    color: #fff;
    -webkit-transition: all 0.4s 0s ease;
    -khtml-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -ms-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
    font-weight: 800;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 100%;
}

#fixed-bottom-buttons span.bottom-button.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    #fixed-bottom-buttons span.bottom-button {
        padding: 0 20px;
        font-weight: 600;
    }
}

#fixed-bottom-buttons span.bottom-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -64px;
    bottom: 0;
    background: #007C56;
    z-index: -1;
    border-radius: 32px 32px 0 0;
    -webkit-transition: all 0.4s 0s ease;
    -khtml-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -ms-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
}

#fixed-bottom-buttons span.bottom-button.orange:before {
    background: #FF5800;
}

html #hubspot-messages-iframe-container {
    left: 0 !important;
    z-index: 8 !important;
}

@media only screen and (max-width: 767px) {
    html #hubspot-messages-iframe-container {
        display: none !important;
        z-index: -4;
        pointer-events: none;
    }
}

@media print {
    html #hubspot-messages-iframe-container {
        display: none !important;
        z-index: -4;
        pointer-events: none;
    }
}

html #hubspot-messages-iframe-container .shadow.active {
    left: 0;
}

.title__container {
    padding: 40px 0 40px 0;
    text-align: center;
    position: relative;
}

.title__container.left {
    text-align: left;
}

.title__container.left .back-text {
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -khtml-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.title__container.left h1,
.title__container.left h2 {
    text-align: left;
}

.title__container .back-text {
    font-size: 8vw;
    font-weight: 700;
    color: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    text-align: center;
    line-height: 1em;
    opacity: 0.2;
    font-family: "AvenirNext", Arial, Helvetica, sans-serif;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    white-space: nowrap;
    pointer-events: none;
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
    .title__container .back-text {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 699px) {
    .title__container .back-text {
        font-size: 12vw;
    }
}

@media print {
    .title__container .back-text {
        display: none;
    }
}

.title__container .back-text.smaller {
    font-size: 8vw;
    top: calc(50% - 4vw);
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
    .title__container .back-text.smaller {
        font-size: 14vw;
        top: calc(50% - 7vw);
    }
}

.title__container h1 {
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    font-size: 36px;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    .title__container h1 {
        font-size: 32px;
    }
}

.title__container h2 {
    position: relative;
    z-index: 2;
    font-size: 32px;
    margin-bottom: 0;
}

.faq-item__container {
    margin-top: 30px;
    margin-bottom: 36px;
}

.faq-item {
    width: 100%;
    margin-bottom: 24px;
}

.faq-item.open .title {
    background: #007C56;
    color: #fff;
}

.faq-item.open .title:before {
    content: "x";
}

.faq-item.open .content {
    display: block;
}

.faq-item .title {
    background: #fff;
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.1);
    padding: 8px 24px;
    border-radius: 24px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

.faq-item .title:before {
    content: "+";
    font-weight: 700;
    margin-right: 1em;
}

.faq-item .title span {
    font-weight: 700;
}

.faq-item .content {
    background: #fff;
    padding: 36px 24px 24px 24px;
    border-radius: 0 0 24px 24px;
    position: relative;
    z-index: 1;
    margin-top: -24px;
    display: none;
}

.thank-you__container {
    margin: 30px 0 60px 0;
    text-align: center;
}

.error-page__container {
    margin: 30px 0 60px 0;
    text-align: center;
}

section#booking-experts {
    text-align: center;
    margin-bottom: 60px;
}

.box-block__container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -12px;
    margin-right: -12px;
}

.box-block__container.partner-box-block .box-block {
    flex: 0 0 16.666%;
    padding: 0 8px;
}

@media only screen and (max-width: 767px) {
    .box-block__container.partner-box-block .box-block {
        flex: 0 0 25%;
        padding: 0 4px;
    }
}

@media only screen and (max-width: 500px) {
    .box-block__container.partner-box-block .box-block {
        flex: 0 0 50%;
    }
}

.box-block__container.partner-box-block .box-block .image__container {
    height: 100px;
}

@media only screen and (max-width: 767px) {
    .box-block__container.partner-box-block .box-block .image__container {
        height: 80px;
    }
}

.box-block__container.partner-box-block .box-block .content__container h3 {
    font-size: 0.9em;
    text-align: center;
}

.box-block__container .box-block {
    margin-left: 0px;
    flex: 0 0 33.3333%;
    margin-bottom: 24px;
    position: relative;
    opacity: 1;
    padding: 0 12px;
    position: relative;
    -webkit-transition: all 0.4s 0s ease;
    -khtml-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -ms-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
    -webkit-transform: translate(0, 0px) scale(1);
    -khtml-transform: translate(0, 0px) scale(1);
    -moz-transform: translate(0, 0px) scale(1);
    -ms-transform: translate(0, 0px) scale(1);
    -o-transform: translate(0, 0px) scale(1);
    transform: translate(0, 0px) scale(1);
}

@media only screen and (max-width: 767px) {
    .box-block__container .box-block {
        flex: 0 0 33.3333%;
    }
}

@media only screen and (max-width: 500px) {
    .box-block__container .box-block {
        flex: 0 0 50%;
    }
}

.box-block__container .box-block .image__container {
    width: 100%;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 12px 24px -6px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

@media only screen and (max-width: 767px) {
    .box-block__container .box-block .image__container {
        height: 140px;
    }
}

.box-block__container .box-block .image__container img.big-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    -webkit-transition: all 1s 0s ease;
    -khtml-transition: all 1s 0s ease;
    -moz-transition: all 1s 0s ease;
    -ms-transition: all 1s 0s ease;
    -o-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
    opacity: 0;
}

.box-block__container .box-block .image__container img.big-image.object-fit-contain {
    object-fit: contain;
}

.box-block__container .box-block .image__container img.big-image.show-img {
    opacity: 1;
}

.box-block__container .box-block .content__container {
    padding: 12px 6px;
    border-radius: 24px;
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 600px) {
    .box-block__container .box-block .content__container {
        padding: 12px 0 0;
    }
}

.box-block__container .box-block .content__container h3 {
    margin-bottom: 0;
    text-align: left;
    font-size: 1.1em;
}

.box-block__container .box-block .content__container .sub {
    font-size: 0.9em;
    font-style: italic;
    color: #161A2B;
    opacity: 0.6;
}

.box-block__container .box-block .content__container p {
    color: #444;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 12px;
}

section#page-text {
    padding: 40px 0;
}

section#page-text ul {
    padding: 0 0 0 20px;
}

section#page-text ul li {
    list-style-type: disc;
}

.quote {
    margin: 40px 40px;
}

@media only screen and (max-width: 767px) {
    .quote {
        margin: 24px 24px;
    }
}

.quote h3 {
    font-family: "AbrilFatface";
    font-size: 2em;
    line-height: 1.4em;
    color: #161A2B;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .quote h3 {
        font-size: 1.8em;
    }
}

.quote .author {
    display: block;
    text-align: center;
}

.quote .author:before {
    content: "- ";
}

.page-left-side {
    width: calc(100% - 344px);
    float: left;
}

@media only screen and (max-width: 767px) {
    .page-left-side {
        width: 100%;
        float: none;
    }
}

.page-right-side {
    width: 344px;
    float: left;
    padding-left: 24px;
}

@media only screen and (max-width: 767px) {
    .page-right-side {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

.page-right-side .contact-sidebar {
    background: #fff;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(0, -80px);
    -khtml-transform: translate(0, -80px);
    -moz-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    -o-transform: translate(0, -80px);
    transform: translate(0, -80px);
}

@media only screen and (max-width: 767px) {
    .page-right-side .contact-sidebar {
        -webkit-transform: translate(0, 0px);
        -khtml-transform: translate(0, 0px);
        -moz-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        -o-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }
}

.page-right-side .contact-sidebar .fa-phone {
    color: #007C56;
    height: 12px;
    font-size: 0.8em;
    -webkit-transform: translate(0, -2px);
    -khtml-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
    padding-right: 3px;
}

.page-right-side .contact-sidebar .flag {
    width: 16px;
    height: 16px;
}

.page-right-side .contact-sidebar .flag img {
    width: 16px;
    height: 16px;
}

#contact-form {
    margin-left: -24px;
    padding: 24px 24px 24px 0;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    #contact-form {
        margin: 0 -24px 48px;
        padding: 24px 0;
    }
}

#contact-form label {
    flex: 0 1 100%;
    padding: 4px 12px;
}

@media only screen and (max-width: 520px) {
    #contact-form label {
        padding: 4px 24px;
    }
}

#contact-form label.half {
    flex: 0 1 50%;
}

@media only screen and (max-width: 520px) {
    #contact-form label.half {
        flex: 0 1 100%;
    }
}

#contact-form label span {
    display: block;
    padding: 0 18px;
    font-weight: 600;
}

#contact-form label input,
#contact-form label textarea {
    width: 100%;
    display: block;
}

#contact-form label textarea {
    height: 160px;
    line-height: 1.4em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    resize: none;
}

#contact-form label .input__container {
    display: flex;
    flex-flow: wrap row;
    width: 100%;
}

#contact-form label .input__container .flag {
    width: 50px;
    height: 30px;
    flex: 0 0 50px;
}

#contact-form label .input__container .flag img {
    margin-top: 8px;
    width: 24px;
    height: 24px;
    margin-left: 12px;
}

#contact-form label .input__container input[name=phone] {
    flex: 1 1 calc(40px - 100%);
}

#contact-form input#send-contact2 {
    float: right;
    background: #FF5800;
    color: #fff;
    border-color: #FF5800;
    margin-left: 24px;
    font-weight: 600;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    -webkit-user-select: none;
}

header.transparent-white:not(.scroll):not(.menu-open) #header:after {
    opacity: 0;
    top: 0;
}

header.transparent-white:not(.scroll):not(.menu-open) #header #logo img.logo-white {
    display: block;
}

header.transparent-white:not(.scroll):not(.menu-open) #header #logo img.logo-green {
    display: none;
}

header.transparent-white:not(.scroll):not(.menu-open) #header #language-currency-switcher {
    color: #fff;
}

header.transparent-white:not(.scroll):not(.menu-open) #header #responsive-cart {
    color: #fff;
}

header.transparent-white:not(.scroll):not(.menu-open) #header #responsive-nav .lines .line:before {
    background: #fff;
}

header.transparent-white:not(.scroll):not(.menu-open) #header #main-menu ul li .title {
    color: #fff;
}

header.scroll #header:after {
    top: 0;
    opacity: 1;
}

@media print {
    header {
        display: none;
    }
}

#header {
    height: 64px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0;
    z-index: 80;
}

#header:after {
    content: "";
    position: absolute;
    top: 0px;
    height: 100%;
    left: -8px;
    right: -8px;
    opacity: 1;
    background: #fff;
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    -webkit-transition: all 0.4s 0s ease;
    -khtml-transition: all 0.4s 0s ease;
    -moz-transition: all 0.4s 0s ease;
    -ms-transition: all 0.4s 0s ease;
    -o-transition: all 0.4s 0s ease;
    transition: all 0.4s 0s ease;
    z-index: -1;
    border-radius: 0 0 40px 40px;
}

#header .row {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

#header #logo {
    height: 64px;
    position: relative;
    z-index: 36;
}

@media only screen and (max-width: 767px) {
    #header #logo {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -khtml-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

#header #logo img {
    margin-top: 12px;
    height: 40px;
    object-fit: contain;
    object-position: center center;
}

@media only screen and (max-width: 600px) {
    #header #logo img {
        width: 32px;
        object-fit: cover;
        object-position: left center;
    }
}

#header #logo img.logo-white {
    display: none;
}

#header #logo img.logo-green {
    display: block;
}

#header #main-menu {
    height: 64px;
    position: absolute;
    right: 140px;
}

#header #main-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
}

#header #main-menu ul li:hover .sub-menu {
    display: block;
}

#header #main-menu ul li.link-page-destinations .title i {
    margin-left: 6px;
}

#header #main-menu ul li.link-page-cart .title i {
    margin-right: 6px;
}

#header #main-menu ul li .title {
    padding: 0 16px;
    height: 100%;
    display: block;
    display: flex;
    align-items: center;
    color: #161A2B;
    font-weight: 600;
    cursor: pointer;
}

#header #main-menu ul li .title.not-active {
    display: none;
}

#header #main-menu ul li .title:hover {
    color: #007C56;
}

@media only screen and (max-width: 1024px) {
    #header #main-menu ul li .title {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 900px) {
    #header #main-menu ul li .title {
        padding: 0 6px;
    }
}

#header #main-menu ul li .title i {
    font-size: 0.8em;
    margin-top: 0px;
    vertical-align: top;
    line-height: 18px;
}

#header #main-menu ul li .sub-menu {
    background: #fff;
    padding: 12px;
    border-radius: 0 0 24px 24px;
    box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.1);
    margin-top: -24px;
    display: none;
}

#header #main-menu ul li .sub-menu .inner .list-item {
    color: #161A2B;
    cursor: pointer;
}

#header #main-menu {
    flex: 0 0 64px;
}

@media only screen and (max-width: 767px) {
    #header #main-menu {
        display: none;
    }
}

#header #language-currency-switcher {
    height: 14px;
    line-height: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -khtml-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    right: 72px;
    display: block;
    text-align: right;
    color: #161A2B;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-flow: wrap row;
    padding: 0 0;
}

#header #language-currency-switcher .current-currency {
    margin-right: 6px;
}

#header #language-currency-switcher .current-currency,
#header #language-currency-switcher .current-language {
    height: 14px;
    float: left;
}

#header #language-currency-switcher .current-currency .title,
#header #language-currency-switcher .current-language .title {
    display: block;
}

#header #language-currency-switcher .current-currency .title.not-active,
#header #language-currency-switcher .current-language .title.not-active {
    display: none;
}

#header #language-currency-switcher img {
    width: 16px;
    height: 16px;
    margin-top: -1px;
}

#header #language-currency-switcher i {
    font-size: 11px;
    -webkit-transform: translate(0, -4px);
    -khtml-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -ms-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px);
}

#header #responsive-cart {
    height: 64px;
    line-height: 64px;
    position: absolute;
    right: 24px;
    display: block;
    text-align: right;
    color: #161A2B;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
}

#header #responsive-nav {
    display: none;
    height: 64px;
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
    z-index: 34;
    flex-flow: row-reverse nowrap;
    width: 64px;
}

@media only screen and (max-width: 767px) {
    #header #responsive-nav {
        left: 8px;
        right: auto;
        display: block;
    }
}

#header #responsive-nav.open .lines .line#line-1 {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
}

#header #responsive-nav.open .lines .line#line-2 {
    opacity: 0;
}

#header #responsive-nav.open .lines .line#line-3 {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%;
}

#header #responsive-nav.open .lines .line#line-3:before {
    width: 24px;
}

#header #responsive-nav .lines {
    width: 64px;
    height: 64px;
    flex: 1 1 64px;
    position: relative;
    display: block;
}

#header #responsive-nav .lines .line {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.2s 0s ease;
    -khtml-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -ms-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease;
}

#header #responsive-nav .lines .line#line-1 {
    top: calc(50% - 6px);
}

#header #responsive-nav .lines .line#line-3 {
    top: calc(50% + 6px);
}

#header #responsive-nav .lines .line#line-3:before {
    width: 18px;
}

#header #responsive-nav .lines .line:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -12px;
    width: 24px;
    height: 2px;
    background: #161A2B;
}

/*#product-main-cat-mega-nav{
     height:48px;
     ul.main-categories{
        display:flex;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: center;
        li{
           height:48px;
           flex:1 100%;
           a{
              line-height:48px;
              white-space:nowrap;
              display:block;
              color:$black;
              text-align:center;
              &:hover{
                 color:$green;
              }
  
           }
        }
     }
  }*/
#responsive-menu {
    top: 0;
    background: #F1F1F1;
    z-index: 3;
    position: absolute;
    left: -6px;
    right: -6px;
    padding-top: 64px;
    padding-bottom: 24px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -khtml-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s 0s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translate(0, calc(-100%));
    -khtml-transform: translate(0, calc(-100%));
    -moz-transform: translate(0, calc(-100%));
    -ms-transform: translate(0, calc(-100%));
    -o-transform: translate(0, calc(-100%));
    transform: translate(0, calc(-100%));
}

#responsive-menu.open {
    -webkit-transform: translate(0, 0%);
    -khtml-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%);
    transform: translate(0, 0%);
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.2);
}

.mega-nav {
    padding: 24px 6px 0 6px;
    display: none;
}

.mega-nav.show {
    display: block;
}

.mega-nav .title2 {
    flex: 1 1 100%;
    font-weight: bold;
    color: #161A2B;
    margin-bottom: 12px;
}

.mega-nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.mega-nav ul li {
    flex: 0 33.333%;
    cursor: pointer;
}

@media only screen and (max-width: 840px) {
    .mega-nav ul li {
        flex: 0 50%;
    }
}

.mega-nav ul li.link-page-destinations {
    display: none;
}

.mega-nav ul li:hover a {
    color: #007C56;
}

.mega-nav ul li a {
    color: #161A2B;
    font-weight: 400;
}

.mega-nav ul li a.not-active {
    display: none;
}

.mega-nav ul.lang-ul {
    margin-bottom: 24px;
    width: 25%;
    float: left;
}

@media only screen and (max-width: 700px) {
    .mega-nav ul.lang-ul {
        width: 50%;
    }
}

@media only screen and (max-width: 520px) {
    .mega-nav ul.lang-ul {
        width: 100%;
    }
}

.mega-nav ul.lang-ul li {
    flex: 0 100%;
}

@media only screen and (max-width: 520px) {
    .mega-nav ul.lang-ul li {
        flex: 0 50%;
    }
}

.mega-nav ul.lang-ul li.not-active .lang-name {
    color: #444;
    font-weight: 400;
}

.mega-nav ul.lang-ul li .icon {
    margin: 0;
    width: 24px;
    height: 24px;
    position: relative;
    float: left;
    margin-right: 6px;
}

.mega-nav ul.lang-ul li .icon img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    border-radius: 3px;
}

.mega-nav ul.lang-ul li .lang-name {
    float: left;
    color: #007C56;
    font-weight: bold;
}

.mega-nav ul.currency-ul {
    width: 75%;
    float: left;
}

@media only screen and (max-width: 700px) {
    .mega-nav ul.currency-ul {
        width: 50%;
    }
}

@media only screen and (max-width: 520px) {
    .mega-nav ul.currency-ul {
        width: 100%;
    }
}

.mega-nav ul.currency-ul li {
    flex: 0 20%;
}

@media only screen and (max-width: 920px) {
    .mega-nav ul.currency-ul li {
        flex: 0 33.333%;
    }
}

@media only screen and (max-width: 400px) {
    .mega-nav ul.currency-ul li {
        flex: 0 50%;
    }
}

.destination-container {
    display: flex;
}

@media only screen and (max-width: 400px) {
    .destination-container {
        flex-wrap: wrap;
    }
}

.destination-container__items {
    align-items: flex-start !important;
}

.destination-container__inner-container {
    flex: 0 0 25%;
}

@media only screen and (max-width: 400px) {
    .destination-container__inner-container {
        flex: 1 30%;
    }

    .destination-container__inner-container:nth-child(n+4) {
        margin-top: 10px;
    }
}

.destination-container__item {
    flex: 0 0 50% !important;
}

.destination-container__continent-title {
    margin-bottom: 5px;
    flex: 0 !important;
    text-transform: capitalize;
}

.page-header {
    width: 100%;
    position: relative;
    min-height: 260px;
    padding-top: 84px;
    -webkit-print-color-adjust: exact;
    /*   @media print {
          margin-top:0;
       }*/
}

@media only screen and (max-width: 640px) {
    .page-header {
        padding-top: 64px;
    }
}

.page-header.header-type-home .text__container {
    padding: 100px 0px 180px 0;
}

@media only screen and (max-width: 767px) {
    .page-header.header-type-home .text__container {
        padding: 60px 12px 160px 12px;
    }
}

.page-header.header-type-home .text__container h1 {
    font-size: 3.2em;
}

@media only screen and (max-width: 767px) {
    .page-header.header-type-home .text__container h1 {
        font-size: 2.8em;
        font-weight: bold;
    }
}

@media only screen and (max-width: 520px) {
    .page-header.header-type-home .text__container h1 {
        /*span{
         display:block;
         text-align:center;
         font-size:1.5em;
         line-height:1.3em;
      }*/
    }
}

.page-header.header-type-home .text__container h2 {
    font-size: 3em;
}

@media only screen and (max-width: 767px) {
    .page-header.header-type-home .text__container h2 {
        font-size: 1.7em;
        margin: 0;
    }
}

.page-header .bg__container {
    position: absolute;
    top: 0px;
    bottom: -40px;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.page-header .bg__container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: 0px 0px 0 0;
}

.page-header .bg__container.white-layer:after {
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.7) 70px, rgba(255, 255, 255, 0.7) 100%);
}

.page-header .bg__container.black-layer:after {
    background: linear-gradient(to bottom, rgba(22, 25, 43, 0.7) 0%, rgba(22, 25, 43, 0.4) 50%, rgba(22, 25, 43, 0.1) 100%);
}

.page-header .bg__container img {
    position: absolute;
    top: 0vh;
    left: 0;
    bottom: 0vh;
    width: 100%;
    height: calc(100% + 0vh);
    object-fit: cover;
    object-position: center center;
    border-radius: 0px 0px 0 0;
    -webkit-transform: translateZ(0);
    -khtml-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-print-color-adjust: exact;
}

.page-header .text__container {
    position: relative;
    width: 100%;
    top: 0%;
    left: 0;
    z-index: 4;
    -webkit-transform: translate(0%, 0%);
    -khtml-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    padding-top: 12px;
    padding-bottom: 40px;
}

.page-header .text__container.white-text h1,
.page-header .text__container.white-text h2,
.page-header .text__container.white-text p,
.page-header .text__container.white-text a {
    color: #fff;
}

.page-header .text__container.white-text p {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

.page-header .text__container h1 {
    text-align: center;
    color: #161A2B;
    font-family: "AvenirNext", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0.25em;
    line-height: 1.2em;
}

@media only screen and (max-width: 767px) {
    .page-header .text__container h1 {
        font-size: 2.2em;
    }
}

.page-header .text__container h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.61em;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .page-header .text__container h2 {
        font-size: 1.3em;
    }
}

.page-header .text__container p {
    color: #161A2B;
    font-weight: 600;
    font-size: 1em;
}

.page-header .text__container a {
    color: #161A2B;
}

.page-header .text__container .breadcrumbs2 {
    text-align: left;
    margin-top: 24px;
    display: none;
}

@media only screen and (max-width: 767px) {
    .page-header .text__container .breadcrumbs2 {
        margin-top: 6px;
    }
}

.page-header .text__container .breadcrumbs2 a {
    padding: 0;
    line-height: 15px;
    font-weight: 600;
    font-size: 15px;
}

.page-header .text__container .breadcrumbs2 a:hover {
    color: #007C56;
}

.page-header .text__container .breadcrumbs2 a:after {
    content: " »";
}

.page-header .text__container .breadcrumbs2 a:last-child:after {
    content: "";
}

.page-header #print-pdf {
    padding: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
    color: #fff;
    cursor: pointer;
}

@media print {
    .page-header #print-pdf {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .page-header #print-pdf {
        display: none;
    }
}

.page-header #print-pdf:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #007C56;
    opacity: 0.4;
    z-index: -1;
}

.page-header #print-pdf h4 {
    color: #fff;
}

.page-header #print-pdf ul {
    margin-bottom: 12px;
}

.page-header #print-pdf ul li {
    font-weight: 600;
}

.page.product-cat-page .page-header {
    padding-bottom: 40px;
}

@media only screen and (max-width: 900px) {
    .page.product-cat-page .page-header {
        padding-bottom: 80px;
    }
}

.page.product-cat-page .page-header .text__container {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 40px;
}

@media only screen and (max-width: 767px) {
    .page.product-cat-page .page-header .text__container {
        display: block;
    }
}

.page.product-cat-page .page-header .title__container {
    flex: 0 0 314px;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .page.product-cat-page .page-header .title__container {
        flex: 1 1 100%;
        margin-bottom: 24px;
    }
}

.page.product-cat-page .page-header .title__container h1 {
    text-align: left;
}

@media only screen and (max-width: 767px) {
    .page.product-cat-page .page-header .title__container h1 {
        font-size: 2.4em;
    }
}

.page.product-cat-page .page-header .subtext__container {
    flex: 1 1 70%;
}

@media only screen and (max-width: 767px) {
    .page.product-cat-page .page-header .subtext__container {
        flex: 1 1 100%;
    }
}

.page.product-cat-page .page-header .subtext__container p,
.page.product-cat-page .page-header .subtext__container span {
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 1.61em;
    margin-top: 0;
}

@media only screen and (max-width: 767px) {

    .page.product-cat-page .page-header .subtext__container p,
    .page.product-cat-page .page-header .subtext__container span {
        font-size: 14px;
    }
}

.page.product-cat-page .page-header .subtext__container .button2 {
    margin-bottom: 6px;
}